{% extends 'accounts/headerFooter.html' %}
{% block content %}
{% load static %}

<div style="margin-top: 10%; margin-left: 9%; margin-right: 9%;">
    <h3>Apartments</h3>
    <p style="text-align: justify;">
        This apartment building is a modern and sleek structure, boasting clean lines and a minimalist design. The
        building is located in a prime location, with easy access to public transportation, shopping, and dining
        options. The units within the building are spacious and well-appointed, featuring large windows that allow for
        plenty of natural light to flood the space. The apartments are equipped with all of the necessary amenities,
        including a fully-equipped kitchen, comfortable bedrooms, and a balcony or terrace for outdoor living. The
        building also features a variety of amenities for residents to enjoy, including a fitness center, a community
        room, and a rooftop terrace. Overall, this apartment building is the perfect choice for those looking for a
        stylish and convenient living space in the heart of the city.</p>
</div>
<h4 style="margin: 2% 0% 2% 5%; display: block;">List of Apartments for Rent</h4>

<div class="container">
    <div class="row">
        {% for house in houses %}
        <div class="col-3">
            <div class="card" style="width: 18rem; ">
                <img style="width:100%; height:100%;" src="{{ house.image.url }}" alt="House Photo" />
                <div class="card-body">
                    <h5 class="card-title"><a>{{ house.title }}</a></h5>
                    <p class="card-text">{{ house.bedrooms }} Bed Rooms</p>
                    <p class="card-text">{{ house.rental_price }} Birr</p>
                    <a href="{% url 'house_detail' house.id %}">Detail</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<style>
    .card {
        margin-right: 20px;
        width: 18rem;
    }
</style>

{% endblock %}