{% extends 'accounts/headerFooter.html' %}
{% block content %}
{% load static %}
<br><br><br><br>
    <p class="description">We simplify the process of finding a new apartment by offering
        renters the most comprehensive database including detailed and accurate 
        apartment listings across the country. Our innovative technology includes the 
        GojoAfalagi™ search tool that allows users to define their own search areas on a map and
         a Plan Commute feature that helps users search for rentals in proximity to ...</p>
<h1>Apartments are listed here</h1>

{% endblock %}