{% extends 'accounts/headerFooter.html' %}
{% block content %}
{% load static %}
<br><br><br><br>
<div style="margin-left: 9%; margin-right: 9%;">
    <h3>Apartments</h3>
    <p style="text-align: justify;">Find condos for rent & in foreclosure at
        GojoAfalagi™. Our Condominium Professionals are ready to help you rent
        a condo today. Toggle navigation then search...</p>

    <br><br>
    <h4>Condominium list</h4>

    <br><br>
    {% if list %}
    <table>
        <tr>
            <th>area</th>
            <th>kebele</th>
            <th>title</th>
            <th>price</th>
            <th>landlordName</th>
        </tr>
        <tr>
            {% for st in list %}
            <td>{{st.area}}</td>
            <td>{{st.kebele}}</td>
            <td>{{st.title}}</td>
            <td>{{st.price}}</td>
            <td>{{st.landlordName}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h4>No Data</h4>
    {% endif %}
</div>
<br><br>
<style>
    th,
    td {
        border: 1px black solid;
    }
</style>
{% endblock %}