{% extends 'accounts/headerFooter.html' %}
{% block content %}
{% load static %}
<br><br><br><br>
<p class="description">If you're looking for houses for rent, GojoRent features available 
    istings in every corner of the country. We make the process easy and straightforward with 
    filters or tags that can narrow down your search by region, city, and kebele. Each of 
    the homes for rent features a detailed description of the property, including the number of bedrooms ...</p>
<h1>Houses are listed here</h1>

{% endblock %}
