{% extends 'accounts/headerFooter.html' %}
{% load static %}
{% block content %}

<div style="margin-top: 10%; margin-left: 9%; margin-right: 9%;">
    <h3>Luxurious</h3>
    <p style="text-align: justify;">
        A luxury house is a grand and opulent property that is designed with the finest materials and features. It
        typically includes large open spaces, high ceilings, and a wide range of amenities such as a swimming pool, spa,
        and multiple bedrooms and bathrooms. Luxury houses are often located in exclusive neighborhoods and offer
        breathtaking views, state-of-the-art appliances and technology, and a sophisticated design aesthetic. They are
        intended for the high-end market and are meant to provide ultimate comfort, elegance and high standard of
        living.
    </p>
    <h4 style="margin: 2% 0% 2% 5%; display: block;">List of Luxury Houses for Rent</h4>

    <div class="container">
        <div class="row">
            {% for house in houses %}
            <div class="col-3">
                <div class="card" style="width: 18rem; ">
                    <img style="width:100%; height:100%;" src="{{ house.image.url }}" alt="House Photo" />
                    <div class="card-body">
                        <h5 class="card-title"><a>{{ house.title }}</a></h5>
                        <p class="card-text">{{ house.bedrooms }} Bed Rooms</p>
                        <p class="card-text">{{ house.rental_price }} Birr</p>
                        <a href="{% url 'house_detail' house.id %}">Detail</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


    <style>
        .card {
            margin-right: 20px;
            width: 18rem;
        }
    </style>
    {% endblock %}