{% include 'accounts/links.html' %}
{% load static %}

<body>
  <!-- ======= Header ======= -->
  <header style="margin-top: 0%;" id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">
      <h1 class="logo"><a href="{% url 'home' %}">Gojo Afalagi</a></h1>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" id="home" href="{% url 'home' %}">Home</a></li>
          <li><a class="nav-link scrollto fa fa-search" id="search" href="{% url 'search' %}"> Search</a></li>
          <li class="dropdown"><a><span>Rentals</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="{% url 'apartment' %}">Apartment</a></li>
              <li><a href="{% url 'compound' %}">Compound</a></li>
              <li><a href="{% url 'room' %}">Rooms</a></li>
              <li><a href="{% url 'condominium' %}">Condominium</a></li>
              <li><a href="{% url 'luxurious' %}">Luxurious</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto o" id="profile" href="{% url 'profile' %}">Profile</a></li>
          <li class="dropdown"><a><span>About</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="{% url 'aboutt' %}" id="about">About Gojo-Afalagi</a></li>
              <li><a href="{% url 'aboutmee' %}" id="about-me">About me</a></li>
            </ul>
          </li>
          <li><a class="getstarted scrollto" id="logout" href="{% url 'logout' %}">Sign-out</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->
  {% block content %}

  {% endblock %}
  <!-- ==== Footer start ==== -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>GoJo Afalagi</h3>
            <p>
              Catholic <br>
              Bahirdar, Kebele 13<br>
              Ethiopia <br><br>
              <strong>Phone:</strong> +251975325354<br>
              <strong>Email:</strong> ezkielmisgae@gmail.com<br>
            </p>
          </div>
          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="">Rentals</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'about' %}">About Gojo-Afalagi</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'aboutme' %}">About Programmar</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'profile' %}">Profile</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'apartment' %}">Apartment Rental</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'compound' %}">Compound Rental</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'condominium' %}">Condominium Rental</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'room' %}">Room Rental</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'luxurious' %}">Luxury Rental</a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Special Thank</h4>
            <p>For the whole AlX and Holberton team for creating this course for free.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container d-md-flex py-4">
      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Gojo Afalagi</span></strong>. All Rights Reserved
        </div>
        <div class="credits">Designed by <a href="https://ezekielmisgae.tech/">Ezekiel Alene</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="https://www.twitter.com/ezekielmisganaw/" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="https://www.facebook.com/ezekiel.misganaw/" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/ezkielmisgae/" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://www.linkedin.com/ezekielmisganaw/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer>
  <!-- End Footer -->

</body>

</html> 