{% extends 'accounts/headerFooter.html' %}
{% block content %}


<br>
<div class="row">
	<div class="col-md-3">
		<div class="card card-body">
			<a class="btn btn-warning" href="{% url 'home' %}"> &#8592; Back to Profile</a>
			<hr>
			<h3 style="text-align: center">Account Settings</h3>
			<hr>
		
		</div>
	</div>
	<div class="col-md-9">
		<div class="card card-body">
			
			<form method="POST" action="" enctype="multipart/form-data">
				{% csrf_token %}
				{{form.as_p}}
		
			<input class="btn btn-primary" type="submit" name="Update Information">
			</form>
		</div>
	</div>
</div>



<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                    width="150px"
                    src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span
                    class="font-weight-bold">{{user.user}}</span>
                    <span class="text-black-50">{{user.email}}</span>
            </div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">Full Name</label>
                            <input type="text" class="form-control" placeholder="Enter your name" value="">
                            {{form.fullName}}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Phone Number</label>
                            <input type="text" class="form-control" placeholder="Enter your Phone Number" value="">
                            {{form.phone}}
                        </div>
                        <div class="col-md-12"><label class="labels">Kebele ID</label>
                            <input type="text" class="form-control" placeholder="Enter your Kebele ID" value="">
                            {{form.kebeleID}}
                        </div>
                        <div class="col-md-12"><label class="labels">Job</label>
                            <input type="text" class="form-control" placeholder="Please enter your Job" value="">
                            {{form.job}}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6"><label class="labels">City</label>
                            <input type="text" class="form-control" placeholder="City" value="">
                            {{form.city}}
                        </div>
                    </div>
                </form>
                <div class="mt-5 text-center">
                    <button class="btn btn-primary profile-button" type="button">Save Profile</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    /* Because i didnt set placeholder values in forms.py they will be set here using vanilla Javascript
    //We start indexing at one because CSRF_token is considered and input field 
    */
    //Query All input fields
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder = 'Full Name..';
    form_fields[2].placeholder = 'Phone Number..';
    form_fields[3].placeholder = 'Kebele ID..';
    form_fields[4].placeholder = 'Job..';
    form_fields[5].placeholder = 'City..';
    for (var field in form_fields) {
        form_fields[field].className += ' form-control'
    }
</script>


<style>

	.profile-pic{
		max-width: 200px;
		max-height:200px;
		margin: 0 auto;
		border-radius: 50%;
	}



    .form-control:focus {
        box-shadow: none;
        border-color: #BA68C8
    }

    .profile-button {
        background: rgb(99, 39, 120);
        box-shadow: none;
        border: none
    }

    .profile-button:hover {
        background: #682773
    }

    .profile-button:focus {
        background: #682773;
        box-shadow: none
    }

    .profile-button:active {
        background: #682773;
        box-shadow: none
    }

    .back:hover {
        color: #682773;
        cursor: pointer
    }

    .labels {
        font-size: 11px
    }
</style>
{% endblock %}