{% extends 'accounts/headerFooter.html' %}
{% load static %}
{% block content %}
<html>
<div style="padding: 3%;">
<header style="margin-top: 6%;" class="tg-header">
    <h1 class="tg-h1">All available houses are listed here</h1>
    <hr>
</header>
<form style="margin-left: 2%;" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>
</form>

</div>
<hr style="margin-top: -2%;">
<div style="padding: 3%;">
    {% if img_obj %}
    <img src="{{ img_obj.image.url}}" alt="connect" style="max-width: 500px; max-height:400px">
    {% endif %}
    <h3>{{img_obj.title}}</h3>
    {% for post in posts %}
    <div class="panel panel-lg panel-custom">
        <div class="panel-heading post-heading1">
            <img src="{{ post.img_obj.url }}">
        </div>
        ...
    </div>
    {% endfor %}
</div>

</html>

<style>
    .add-experience:hover {
        background: #42c5f9;
        color: #fff;
        cursor: pointer;
        border: solid 1px #BA68C8
    }
</style>
{% endblock %}
