{% extends 'accounts/headerFooter.html' %}
{% block content %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<br><br>
</div>
<body>
    <div class="parent-card">
        <div class="card" style="width: 18rem; ">
            <img style="width:100%;height:100%; margin: 10px auto 20px;
                            display: block;" src="{% static 'img/apartment.jpeg' %}"
                alt="AI generated image of a girl searching a house.">
            <div class="card-body">
                <h5 class="card-title">Nice home</h5>
                <p class="card-text">This residential complex is located in bahirdar. The offered apartment is on the first floor.</p>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-bs-target="#exampleModal">Contact: 9836746432</button>
                <!-- <a href="#" data-toggle="modal" data-target="#exampleModal" class="btn btn-primary">Show contact</a> -->
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img style="width:100%;height:100%; margin: 10px auto 20px;
                            display: block;" src="{% static 'img/condominium.jpeg' %}"
                alt="AI generated image of a girl searching a house.">
            <div class="card-body">
                <h5 class="card-title">2 room apartment with balcony</h5>
                <p class="card-text">This apartment is rent exclusively to a student with parental sponsorship.</p>
                <a href="#" class="btn btn-primary">Contact: 939772467</a>
            </div>
        </div>
        <div class="card" style="width: 18rem; ">
            <img style="width:100%;height:100%; margin: 10px auto 20px;
                            display: block;" src="{% static 'img/compound.jpeg' %}"
                alt="AI generated image of a girl searching a house.">
            <div class="card-body">
                <h5 class="card-title">3 Rooms modern Apartment</h5>
                <p class="card-text">The old-style apartment sloping ceilings is on the first floor in a two-family house.</p>
                <a href="#" class="btn btn-primary">Contact: 9728673878</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img style="width:100%;height:100%; margin: 10px auto 20px;
                            display: block;" src="{% static 'img/house.jpeg' %}"
                alt="AI generated image of a girl searching a house.">
            <div class="card-body">
                <h5 class="card-title">Bright rooms ideal for two-family</h5>
                <p class="card-text">Modern style luxurious apartment is exclusively to family with great need.</p>
                <a href="#" class="btn btn-primary">Contact: 937648833</a>
            </div>
        </div>
    </div>
</body>

<script>
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })
</script>

<style>
    .parent-card {
        margin-top: 10%;
        margin-left: 5%;
        display: flex;
        align-items: center;
        justify-content: left;
    }

    .card {
        margin-right: 20px;
        width: 18rem;
    }
</style>
<br><br>
{% endblock %}