
{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}
{% load widget_tweaks %}

{% comment "not displayed" %}
    <h1> GojoRent</h1>
{% endcomment %}

<div class="row">
	<div class="col-md-6">
		<div class="card card-body">
			{% if action == 'create' %}
				<h3>Create Book</h3>
			{% elif action == 'update' %}
				<h3>Update Book</h3>
			{% endif %}
			
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="card card-body">
			<form action="" method="POST">
            	{% csrf_token %}
				{% for field in form %}
					{{field.label}}
					{{field|add_class:'form-control'}}
				
				{% endfor %}
				<hr>
				<input type="submit" class="btn btn-info">
			</form>
		</div>
	</div>
</div>

{% endblock %}
